# products by latex
*.aux
*.log
*.nav
*.out
*.pdf
*.snm
*.toc
*.vrb

# video/movie files
*.mkv
*.mp4

# editor temporary files
/auto/*
*.el

# sync repository
/beamer-presentation.synctex.gz

# image files
*.jpeg
*.png
*.jpg
*.jpe
